[Desktop Entry]
# Exec=kcmshell5 breezedecorationconfig
Exec=kcmshell5 sierrabreezeconfig
Icon=preferences-system-windows
Type=Service
X-KDE-ServiceTypes=KCModule

# X-KDE-Library=org.kde.kdecoration2/breezedecoration
X-KDE-Library=org.kde.kdecoration2/sierrabreeze
X-KDE-PluginKeyword=kcmodule
X-KDE-ParentApp=kcontrol
X-KDE-Weight=60
X-KDE-PluginInfo-Name=SierraBreeze

Name=Sierra Breeze
Comment=Modify the appearance of window decorations
X-KDE-Keywords=sierrabreeze,decoration
